<div class="product-reviews">
    <div>
        <div review-element>
            <div>
                <div>
                    <img src="">
                    <h3>Nome utente</h3>
                </div>
            </div>
        </div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
        <div review-element></div>
    </div>

    <mat-paginator [length]="100"
        [pageSize]="12"
        [pageSizeOptions]="[12]"
        aria-label="select_page" role="group">
    </mat-paginator>
</div>

