<section>
    <article>
        <div class="card">
           
            <form method="get">
                <div>
                    <h3>Registrazione</h3>
                    <div class="mex-error-container">
                        <span>Username o password errati</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="usr" placeholder="Nome" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" name="usr" placeholder="Cognome" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="email" name="usr" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" name="pwd" placeholder="Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" name="pwd" placeholder="Conferma password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="pwd" placeholder="Numero di telefono" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="bt-full">Registrazione</button>
                    </div>
                    <div class="form-group">
                        <a href="/login"><button type="button" class="bt-empty">Login</button></a>
                    </div>
                </div>
            </form>

        </div>
    </article>
</section>
