<section>
    <div>
        <aside>
            <div>
                <div>
                    <h3>Filtri</h3>
                    <div class="filter-search">
                        <input type="search" placeholder="Ricerca un filtro">
                    </div>
                    <div>
                        <!-- generazione con angular -->
                        <label class="control control-checkbox">
                            First checkbox
                            <input type="checkbox" checked="checked" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            First checkbox
                            <input type="checkbox" checked="checked" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            First checkbox
                            <input type="checkbox" checked="checked" />
                            <div class="control_indicator"></div>
                        </label>
                        <label class="control control-checkbox">
                            First checkbox
                            <input type="checkbox" checked="checked" />
                            <div class="control_indicator"></div>
                        </label>                        
                    </div>
                </div>
                <div>
                    <h3>Filtra in base al prezzo</h3>
                    <div>
                        <input type="number" placeholder="EUR Min" autocomplete="off">
                        <input type="number" placeholder="EUR Max" autocomplete="off">
                    </div>
                </div>
            </div>
        </aside>
        <article>
            <div class="card-container">
                <!-- Generazione con angular -->
                <a href="/product/1" class="card">
                    <div>
                        <div class="card-image" style="background-image: url('/assets/img/product/prod.jpg');"></div>
                    </div>
                    <div>
                        <h3>Nome del prodotto</h3>
                        <span>Prezzo: 30€</span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button>Visualizza dettagli</button>
                </a>

                <a href="" class="card">
                    <div>
                        <div class="card-image" style="background-image: url('/assets/img/product/usb.jpg');"></div>
                    </div>
                    <div>
                        <h3>Nome del prodotto</h3>
                        <span>Prezzo: 30€</span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button>Visualizza dettagli</button>
                </a>

                <a href="" class="card">
                    <div>
                        <div class="card-image"  style="background-image: url('/assets/img/product/asp.jpg');"></div>
                    </div>
                    <div>
                        <h3>Nome del prodotto</h3>
                        <span>Prezzo: 30€</span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button>Visualizza dettagli</button>
                </a>

                <a href="" class="card">
                    <div>
                        <div class="card-image"  style="background-image: url('/assets/img/product/asp4.jpg');"></div>
                    </div>
                    <div>
                        <h3>Nome del prodotto</h3>
                        <span>Prezzo: 30€</span>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <button>Visualizza dettagli</button>
                </a>

            </div>
        </article>
    </div>
</section>
