<section>
  <article>
    <div class="product-card">
      <!-- Ipression card -->
      <div class="product-card-impression">
        <!-- Informazioni superficiali -->
        <div>
          <h1>Nome del prodotto</h1>
          <div>
            <small>Categoria:</small>
            <small>Nome della categoria</small>
          </div>
          <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>

        <div>
          <!-- Immagine -->
          <div>
            Behind sooner dining so window excuse he summer. Breakfast met
            certainty and fulfilled propriety led. Waited get either are wooded
            little her. Contrasted unreserved as mr particular collecting it
            everything as indulgence
          </div>
          <!-- Informazioni specifiche -->
          <div>
            <div>
              <span class="price">Prezzo: 130€</span>
              <small>Tutti i prezzi includono l'IVA</small>
            </div>
            <div>
              <span>Quantità disponibile:</span>
              <span>50</span>
            </div>
            <!-- Card descrizione -->
            <div>
              <h3>Descrizione</h3>
              <p>
                Behind sooner dining so window excuse he summer. Breakfast met
                certainty and fulfilled propriety led. Waited get either are
                wooded little her. Contrasted unreserved as mr particular
                collecting it everything as indulgence
              </p>
            </div>
          </div>
        </div>
      </div>

      <product-reviews></product-reviews>
    </div>
  </article>
</section>
