$element-gap: 25px;
section {
  display: flex;
  justify-content: center;
  > article {
    display: flex;
    align-items: center;
    width: var(--width-desktop);
    padding: var(--general-padding);
    > div.product-card {
      width: 100%;
      padding: $element-gap;
      border-radius: 10px;
      margin: 21px 0px 21px 0px;
      -webkit-border-radius: 10px;
      border: 1px solid lightgray;
      background-color: var(--white);
      box-shadow: 4px 5px 5px -5px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 4px 5px 5px -5px rgba(0, 0, 0, 0.35);
      > div.product-card-impression {
        flex: 1;
        gap: $element-gap;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        > div:nth-child(1) {
          flex: 100%;
          padding: 0px 0px calc($element-gap - 5px) 0px;
          border-bottom: 1px solid lightgray;
          > h1 {
            font-size: 34px; //mobile
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 5px;
          }
          > div:nth-child(2) {
            > small:nth-child(1) {
              color: #007185;
              font-weight: bold;
            }
            > small:nth-child(2) {
              margin-left: 4px;
            }
          }
          > div:nth-child(3) {
            margin-top: 10px;
            > .checked {
              color: var(--orange);
            }
          }
        }
        > div:nth-child(2) {
          gap: $element-gap;
          width: 100%;
          display: flex;
          flex-direction: row;
          min-height: 20vh;
          > div:nth-child(1) {
            flex: 40%;
            border: 1px solid blue;
            min-height: 50vh;
          }
          > div:nth-child(2) {
            flex: 60%;
            order: 3;
            > div:nth-child(1) {
              > span {
                font-size: 24px;
                font-weight: bold;
                margin-left: -2px;
              }
              > small {
                margin-top: 6px;
                display: block;
                opacity: 0.6;
              }
            }
            > div:nth-child(2) {
              margin-top: 20px;
              > span:nth-child(1) {
                font-size: 14px;
                font-weight: 500;
              }
              > span:nth-child(2) {
                font-size: 14px;
                margin-left: 4px;
              }
            }
            > div:nth-child(3) {
              min-height: 10vh;
              padding: 5px 0px 0px 0px;
              > p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  section {
    article {
      > div.product-card {
        > div.product-card-impression {
          > div:nth-child(1) {
            > h1 {
              font-size: 26px;
            }
          }
          > div:nth-child(2) {
            flex-direction: column;
            > div:nth-child(2) {
              padding: 15px 0px;
              > div:nth-child(1) {
                > span {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section {
    article {
      > div.product-card {
        > div.product-card-impression {
          > div:nth-child(1) {
            h1 {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
