header{
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    color: white;
}