<header>
  <nav class="navigation">
    <div>
      <a href="">
        <img src="/assets/img/unito.svg" width="95px" />
      </a>
    </div>
    <div>
      <div class="search-container">
        <select name="" id="">
          <option value="">Categoria</option>
        </select>
        <input type="search" autocomplete="off" placeholder="Cerca un prodotto..."/>
      </div>
    </div>
    <div>
      <ul>
        <li>
          <a href="/login">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span class="a-text">Sign in</span>
          </a>
        </li>
        <li>
          <a href="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="a-text">Cart</span>
            <small class="badge-single">9</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

