header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35); 
    > nav{
        width: var(--width-desktop);
        display: flex;
        flex-wrap: wrap;
        padding: var(--general-padding);
        > div:nth-child(1){
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        > div:nth-child(2){
            flex: 1;
            display: flex;
            align-items: center;
            > .search-container{
                width: 100%;
                background-color: white;
                border: 1px solid lightgray;
                > select{
                    padding: 12px;
                    width: 22%;
                    border: none;
                    outline: none;
                    background-color: white;
                    transition: 250ms background-color;
                    border-right: 1px solid lightgray;
                }
                > select:active{
                    transition: 250ms background-color;
                    background-color: whitesmoke;
                }
                > input[type="search"]{
                    padding: 12px;
                    width: 78%;
                    border: none;
                    outline: none;
                    box-sizing: border-box;
                }
            }
        }
        > div:nth-child(3){
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > ul{
                padding: 0;
                > li {
                    display: inline-block;
                    > a {
                        z-index: 1;
                        position: relative;
                        text-decoration: none;
                        color: white;
                        margin-left: 10px;
                        opacity: 0.8;
                        transition: 200ms opacity;
                        > .a-text{
                            margin-left: 6px;
                        }
                        > small.badge-single {
                            z-index: 2;
                            position: absolute;
                            top: -12px;
                            left: -6px;
                            padding: 3px 4px 1px 4px;
                            border-radius: 50%;
                            background-color: red;
                            color: white;
                            font-size: 10px;
                        }
                        > small.badge-double{
                            z-index: 2;
                            position: absolute;
                            top: -12px;
                            left: -8px;
                            padding: 3px 4px 1px 4px;
                            border-radius: 50%;
                            background-color: red;
                            color: white;
                            font-size: 10px;
                        }
                    }
                    > a:hover{
                        opacity: 1;
                        transition: 200ms opacity;
                    }
                    > a.active{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    header > nav{
        > div:nth-child(2){
            flex: 100%;
            order: 3;
            margin-top: 10px;
            margin-bottom: 15px;
            > .search-container{
                > select{
                    width: 15%;
                }
                > input[type="search"]{
                    width: 85%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header > nav{
        > div:nth-child(2){
            > .search-container{
                > select{
                    width: 30%;
                }
                > input[type="search"]{
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    header > nav{
        > div:nth-child(2){
            > .search-container{
                > select{
                    width: 35%;
                }
                > input[type="search"]{
                    width: 65%;
                }
            }
        }
        > div:nth-child(3){
            > ul > li > a{
                margin-left: 7px;
            }
        }
    }
}