<section>
  <article>
    <div class="card">
      <form method="get">
        <div>
          <h3>Login</h3>
          <div class="mex-error-container">
            <span>Username o password errati</span>
          </div>
          <div class="form-group">
            <input
              type="email"
              name="usr"
              placeholder="Email"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="pwd"
              placeholder="Password"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <a href="">Password dimenticata?</a>
          </div>
          <div class="form-group">
            <button type="submit" class="bt-full">Login</button>
          </div>
          <div class="form-group">
            <a href="/register"
              ><button type="button" class="bt-empty">Registrati</button></a
            >
          </div>
        </div>
      </form>
    </div>
  </article>
</section>
