<!-- Compose footer -->
<footer>
    <div class="footer-wrapper">
        <div class="col">
            <!-- Info box col -->
            <div>
                <div>
                    <img src="/assets/img/unito.svg" width="100px" alt="" srcset="">
                </div>
                <div>
                    <p>
                        Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. 
                        Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. 
                        Known he place worth words it as to. Spoke now noise off smart her ready.
                    </p>
                </div>
            </div>
            <div>
                <h3>Privacy</h3>
                <div>
                    <p>
                        She suspicion dejection saw instantly. Well deny may real one told yet saw hard dear. Bed chief house rapid right the. 
                        Set noisy one state tears which. No girl oh part must fact high my he. Simplicity in excellence melancholy as remarkably discovered. 
                        Own partiality motionless was old excellence she inquietude contrasted. Sister giving so wicket cousin of an he rather marked
                    </p>
                </div>
            </div>
            <!-- Social col -->
            <div>
                <div class="social-container">
                    <a href="">
                        <svg>
                            <use xlink:href="/assets/img/icon/social.svg#youtube"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="/assets/img/icon/social.svg#twitter"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="/assets/img/icon/social.svg#likedin"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="/assets/img/icon/social.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="/assets/img/icon/social.svg#insta"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use xlink:href="/assets/img/icon/social.svg#mail"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <small>Copyright &copy; Accademy .Net - Betacomio TO</small>
        </div>
    </div>
</footer>